:root {
    --progress-bg-color: #ddd;
    --progress-fg-color: #2ecc40;
}

.CircularProgress-Bg,
.CircularProgress-Fg {
    fill: none;
}

.CircularProgress-Bg {
    stroke: var(--progress-bg-color);
}

.CircularProgress-Fg {
    transition: stroke-dashoffset .5s ease-in-out;
    stroke: var(--progress-fg-color);
}

.CircularProgress-Text {
    font-family: sans-serif;
    font-size: 30px;
    fill: var(--progress-fg-color);

    transform: translate(0 50%);
}
